<p id="notice"><%= notice %></p>

<h1>Carrails</h1>

<table>
  <thead>
    <tr>
      <th>Generate</th>
      <th>Scaffold</th>
      <th>Car</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carrails.each do |carrail| %>
      <tr>
        <td><%= carrail.generate %></td>
        <td><%= carrail.scaffold %></td>
        <td><%= carrail.car %></td>
        <td><%= carrail.make %></td>
        <td><%= carrail.model %></td>
        <td><%= carrail.year %></td>
        <td><%= link_to 'Show', carrail %></td>
        <td><%= link_to 'Edit', edit_carrail_path(carrail) %></td>
        <td><%= link_to 'Destroy', carrail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrail', new_carrail_path %>
